version: "3.9"

services:
  lms-app-service:
    image: lms-image:latest
    container_name: LMS_app_container
    ports:
      - "3000:3000"
    env_file:
      - .env.prod
    depends_on:
      - lms-db-service
      - lms-minio
    restart: unless-stopped

  lms-db-service:
    image: postgres:16
    container_name: LMS_DB_postgres_container
    environment:
      POSTGRES_USER: lmsdev
      POSTGRES_PASSWORD: lmsdev
      POSTGRES_DB: lmsdb
    ports:
      - "1414:5432"
    volumes:
      - lmsdbdev_pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  lms-minio:
    image: minio/minio:latest
    container_name: LMS_minio_container
    ports:
      - "9000:9000" # S3 API
      - "9090:9090" # Console (UI)
    environment:
      MINIO_ROOT_USER: lms_minio_dev # Ganti dengan user aman
      MINIO_ROOT_PASSWORD: lms_minio_dev # Ganti dengan password aman
    command: server /data --console-address ":9090"
    volumes:
        - minio_data:/data
        # - ./storage/pdfs:/data/pdfs # opsional: mount folder host untuk PDF
    restart: unless-stopped

volumes:
  lmsdbdev_pgdata:
  minio_data:
